body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://plus.unsplash.com/premium_photo-1673306778968-5aab577a7365?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fHww);
}

.capitals-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.capital-select {
  margin-bottom: 20px;
}

.capital-select label {
  margin-right: 10px;
  font-size: 1.2rem;
}

.capital-select select {
  padding: 5px;
  font-size: 1rem;
}

.country-display {
  font-size: 1.5rem;
  color: #333;
}
